* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
    font-family: monospace;
    background-color: crimson;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    margin: 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li {
    padding: 5px 30px 0px 30px;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    color: black;
}

.hero {
    background-image: url(../css/images/sound-538x218.jpeg);
    height: 500px;
    background-size: cover;
    display: flex;
    align-items: center;
}

.hero img {
    width: 225px;
    height: 300px;
    margin-left: 35px;
}

.hero h2 {
    
    color: white;
    width: 100%;
    float: right;
    text-align: right;
    margin: auto 0 0;
    font-size: 3.55vw;
}

h2 {
    color: black;
    text-align: center;
    width: 353px;
    font-family: monospace;
    font-size: 2.55vw;
    font-weight: lighter;
}

.left-column {
    padding: 110px;
    background-color: crimson;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-column {
    background-color: lavender;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.me-description {
    background-color: lavender;
    /* width: 100%; */
    text-align: center;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    font-size: 1.25vw;
}

.me-description p {
    padding: 30px;
}

.side-bar {
    display: flex;
}

.small-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.side-bar .small-images a img {
    width: 640px;
    height: 307px;
}

.images {
    border-style: solid;
    border-width: 3px;
    margin: 10px;
    opacity: .4;
}

.images:hover {
    opacity: 1;
}

.images p {
    color: black;
    font-family: monospace;
    font-size: 1.55vw;
    font-weight: lighter
}

.contact-container {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    background-color: lavender;
    flex-basis: 100%;
    align-items: center;
}

.contact-info p {
    width: fit-content;
}

.contact-info a, .contact-info p {
    color: black;
    font-family: monospace;
    font-size: 1.55vw;
    font-weight: lighter;
    text-decoration: none;
    
}


@media only screen and (max-width: 1180px) {

    header h1 {
        font-size: 44px;
    }
   
    .hero {
        flex-direction: column;
        
    }

    .hero h2 {
        width: 100%;
        text-align: center;
        font-size: 6.5vw;
        margin-bottom: auto;
    }

    .hero img {
        margin-left: 0;
        margin-top: auto;
    }
    .left-column {
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 30px;
    }

    .side-bar {
        flex-direction: column;
        width: 100%;
        
    }

    .right-column section a img {
        width: 370px;
        height: 307px;
        margin: 0;
        padding: 0;
    }

    .side-bar .small-images a img {
        width: 370px;
    }

    .images {
        margin: 0;
    }

    h2 {
        font-size: 5.55vw;
    }

    header {
        justify-content: center;
    }

    .me-description p {
        font-size: 4.0vw;
    }

    .right-column {
        padding: 20px;
    }

    header nav ul {
      
      text-align: center;
      justify-content: center;
    }
    
    header nav ul li a {
        font-size: 5.0vw;
        
    }

    header nav ul li {
        padding: 20px 30px 0px 30px;
    }

    .contact-container {
        /* width: 100%; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px 100px 10px 100px;
        background-color: lavender;
        flex-basis: 100%;
    }

    .contact-container a, .contact-container p {
        font-size: 5.0vw;
        width: fit-content;
    }

    .contact-info {
        padding: 30px;
        text-align: center;
    }

}