body {
    background-color: lightcyan;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

header nav ul li {
    display: inline-block;
    margin-right: 25px;
}

.header {
    padding: 20px;
    font-family: monospace;
}

